body {
  font-family: sans-serif;
  background-color: ivory;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  height: 900px;
  background-size: 100% 100%;
}

.leftButton {
  position: absolute;
  left: 12%;
  top: 89%;
  background: black;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 15px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}

.admin {
  color: white;
  width: 125px;
  background: black;
  text-align: center;
  display: block;
  border: 2px solid #2ecc71;
  padding: 15px 4px;
  outline: none;
  cursor: pointer;
}

.sideNav {
  color: white;
}

a:link,
a:visited {
  color: deepskyblue;
  text-decoration: none;
}

.logout {
  position: absolute;
  background: black;
  display: block;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 15px 40px;
  outline: none;
  color: white;
  cursor: pointer;
}

.spinner {
  margin: 166px 0 167px 650px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button[type="button"]:hover{
  background: #2ecc71;
  transition: 0.4s;
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 100px 0px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: white;
}

.main {
  text-align: center;
  color: black;
  margin-left: 180px; /* Same as the width of the sidenav */
  font-size: 24px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.contacts p {
  position:absolute;
  bottom: 20px;
  left:0;
  color: grey;
}